{{> header}}

<p class="page-description">Use the search box below to find the weather for any city in the world.</p>

<form>
  <input type="text" name="location" placeholder="location">
  <button>Get Weather</button>
</form>

<div id="forecastMessage"></div>

<script type="text/javascript" src="js/app.js"></script>

{{> footer}}